@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");


html {background-color: #f2bbb7}


//*Below are the css for the flex photo panels in art page, I didn't know 
an easier way to do it than to repeat them. Even for the other parts of
the page. My apoligies *//

* {
  box-sizing:  border-box;
}

.row1 {
  display: flex;
  padding-top: 100px;
}

.column1 {
  flex: 33.33%;
  padding: 1px;
}

* {
  box-sizing:  border-box;
}

.row2 {
  display: flex;
  padding-top: 100px;
}

.column2 {
  flex: 33.33%;
  padding: 1px;
}

* {
  box-sizing:  border-box;
}

.row3 {
  display: flex;
  padding-top: 100px;
}

.column3 {
  flex: 33.33%;
  padding: 1px;
}

* {
  box-sizing:  border-box;
}

.row4 {
  display: flex;
  padding-top: 100px;
}

.column4 {
  flex: 33.33%;
  padding: 1px;
}

* {
  box-sizing:  border-box;
}

.row5 {
  display: flex;
  padding-top: 100px;
}

.column5 {
  flex: 33.33%;
  padding: 1px;
}

* {
  box-sizing:  border-box;
}

.row6 {
  display: flex;
  padding-top: 100px;
}

.column6 {
  flex: 33.33%;
  padding: 1px;
}

* {
  box-sizing:  border-box;
}

.row7 {
  display: flex;
  padding-top: 100px;
}

.column7 {
  flex: 33.33%;
  padding: 1px;
}

* {
  box-sizing:  border-box;
}

.row8 {
  display: flex;
  padding-top: 60px;
}

.column8 {
  flex: 50%;
  padding: 100px;
}



#navigation_pane{
  display: flex;
  flex-direction:row;
  justify-content:  center;
  background-color:  #d21f1f; 
  width: 100%;
  height: 2.5vw ;
  z-index:  3;
  font-family: "Raleway", sans-serif;
}

.click {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3335;
  font-family: "Raleway", sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff8f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

/* For the colour hover option*/
li a:hover {
  background-color: #711;
}

.click1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3335;
  font-family: "Raleway", sans-serif;
}

#navigation_pane1{
  display: flex;
  flex-direction:row;
  justify-content:  center;
  background-color:  red; 
  width: 100%;
  height: 2.5vw ;
  z-index:  3;
}

.about_photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 100px;
}







.click2 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3335;
  font-family: "Raleway", sans-serif;
}

.click3 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3335;
  font-family: "Raleway", sans-serif;
}

#navigation_pane2{
  display: flex;
  flex-direction:row;
  justify-content:  center;
  background-color:  red; 
  width: 100%;
  height: 2.5vw ;
  z-index:  3;
}

#navigation_pane3{
  display: flex;
  flex-direction:row;
  justify-content:  center;
  background-color:  red; 
  width: 100%;
  height: 2.5vw ;
  z-index:  3;
}

.about_title{
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}

.contact_photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 100px;

}

#titlefont {
  font-size: 100px;
  font-family: "Italiana", sans-serif;
  color: #dc0000;
}

#titlefont1 {
  font-size: 100px;
  font-family: "Italiana", sans-serif;
  color: #dc0000;
}

#titlefont2 {
  font-size: 100px;
  font-family: "Italiana", sans-serif;
  color: #dc0000;
}

p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;

}

.contact_title {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}

.contact_para {
  font-family: "Raleway", sans-serif;
  text-align: center;x
  font-size: 50px;
  text-align: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
