@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");


body {
  
  
}
.inback {
  background-color: turquoise;
}

#titlefont {
  font-size: 100px;
  font-family: "Raleway", sans-serif;
}

img {
  border: 10px dotted #dddddd;
  margin: 20px;
  padding: 2vw;
  border-color: coral;
  border-radius: 50%;
}

p {
  border: 5px double;
  padding: 3vw;
  border-color: red;
}
