@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');

body {
  background: MediumTurquoise;
}

.inback {
  background-color: lime;
}

h2 {
  color: rgb(128, 128, 0);
  font-family: monospace;
}


#titlefont {
  font-size: 100px;
  font-family: 'Sunshiney', cursive;
  color: yellow;
}

img {
  border: 10px dotted #ddd;
  margin:30px;
  padding:2vw;
  border-color: coral;
  border-radius: 50%;
}

p {
  border: 3px double ;
}

p > span {
  color: #7FFF00;
  font-size: 30px;
  font-family: 'Sunshiney', cursive;
    
}